<div class="container alert-wraper">
	<div class="alert alert-<%= type %>" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span><%= message.html_safe %></span>
		<span><%= link %></span>
	</div>
</div>