<div class="account-wrapper">

	<div class="container">
		<!--<h1>Mon compte</h1>-->
		
		<div class="account-content">
			<div class="row">
				

		        <div class="col-md-3">
		            <!-- required for floating -->
		            <!-- Nav tabs -->
		            <ul class="nav nav-tabs tabs-left">
		                <li class="active"><a href="#user-general-info" data-toggle="tab">Général</a></li>
		                <li><a href="#user-details" data-toggle="tab">Détails</a></li>
		                <li><a href="#user-cancel-account" data-toggle="tab">Supprimer mon compte</a></li>
		            </ul>
		        </div>
		        <div class="col-md-9">
		            <!-- Tab panes -->
					<div class="box box-primary">
		            <div class="tab-content">
		                <div class="tab-pane active" id="user-general-info">
							<div class="box-header with-border">
		              			<h1>Infos générales </h1>
		              		</div>

		              		<div class="box-body"> 
		              			<%= render("./profiles/partials/basic_infos") %>
		              		</div>	
		                </div>

		                <div class="tab-pane" id="user-details">
		                	<div class="box-header with-border">
		              			<h2>Détails</h2>
		              		</div>

		                	<div class="box-body"> 
		                	
			                	<%= render("./profiles/partials/user_details") %>
		                	</div>
		                </div>
		                
		          
		          		<!-- Cancel my account -->
		                <div class="tab-pane" id="user-cancel-account">
		                	
		                	<div class="box-header with-border">
	              				<h2>Supprimer mon compte</h2>
	              			</div>

		                	<div class="box-body"> 

								<p>Êtes-vous vraiment sûr de supprimer votre compte? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" , disable_with: "<i class='fa fa-spinner fa-spin'></i> Suppression..."}, method: :delete, class: "btn btn-danger " %></p>
							</div>
		                </div>
						<!-- end -->

		            </div>
</div>
		        </div>
			</div>
		</div>
	</div>
</div>