<!-- Steps section -->
<section class="how-it-work section">

	<div class="container padding-top-30">

	<div class="row">
        <div class="col-md-6">
            <h2>Avez-vous du travail à faire réaliser ?</h2>
            <p>
            C'est facile. Publiez simplement une tâche que vous devez faire réaliser et recevez des offres compétitives des freelances en quelques minutes.
            </p>
            <p>
            Peu importe vos besoins, il y aura un freelance pour y répondre : depuis le design Internet, le développement d'applications mobiles, les assistants virtuels, la fabrication de produits et le design graphique (et bien plus encore). 
            </p>
        </div>

        <div class="col-md-6">
            <%= image_tag "divers/laptop-3233653.jpg" %>
        </div>
    </div>


		


		

	</div>


      
</section>

