<!-- Steps section -->
<section class="steps section">


			<h2 class="section-title  text-center both-padding-3">Les 4 étapes pour changer de vie</h2>
	<div class="container padding-top-30">

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
					<%= image_tag('steps/svg/businessman.svg') %>
				</div>
			</div>

			<div class="step-title-box text-center">
				Inscrivez-vous
			</div>
			<div class="step-body text-center">
				Créer et compléter votre profil et CV en quelques minutes.
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
				<%= image_tag('steps/svg/job-search.svg') %>
			</div>
			</div>

			<div class="step-title-box text-center">
				Trouvez des emplois 
			</div>

			<div class="step-body text-center">
				Rechercher les emplois relatives à vos compétences et préférences.
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
			<%= image_tag('steps/svg/promotion.svg') %>
		</div>
			</div>
			<div class="step-title-box text-center">
				Faire des offres
			</div>
			<div class="step-body text-center">
				Commencer par faire des offres pour tenter votre chance.
			</div>
		</div>

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
				<%= image_tag('steps/svg/meeting.svg') %>
			</div>
			</div>
			<div class="step-title-box text-center">
				Être embaucher
			</div>
			<div class="step-body text-center">
				Discuter, négocier et embaucher le meilleurs talents.
			</div>
		</div>


	</div>


      
</section>


