<!-- Hero section -->
<section class="hero-wrapper">

	<div class="hero-content">
		<div class="container text-center">
			<h1 class="hero-title">
				Get job offers from Europe’s best tech companies
			</h1>
			<div class="hero-subtitle">
				We help programmers find great jobs at great companies.<br />
				No applications, just one profile and your code.
			</div>
			<div class="hero-button">
				<%= link_to "Sign UP", root_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</section>
<!-- End hero section -->

<!-- Steps section -->
<section class="steps-section">
	<div class="container">


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        1    
				    </strong>
				</span>
			</div>

			<div class="step-title-box text-center">
				Sign up
			</div>
			<div class="step-body text-center">
				Sign up, it only takes
				5 minutes!
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
								<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        2   
				    </strong>
				</span>
			</div>

			<div class="step-title-box text-center">
				Have
			</div>

			<div class="step-body text-center">
				Have a call with us
				and complete a
				technical screening
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        3    
				    </strong>
				</span>
			</div>
			<div class="step-title-box text-center">
				Receive job offers
			</div>
			<div class="step-body text-center">
				Receive job offers
				based on your preferences
			</div>
		</div>

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        4    
				    </strong>
				</span>
			</div>
			<div class="step-title-box text-center">
				Get hired
			</div>
			<div class="step-body text-center">
				Get hired
			</div>
		</div>


	</div>
</section>


