<!-- Hero section -->
<section class="hero-wrapper">

	<div class="hero-content">
		<div class="container text-center">
			<h1 class="hero-title">
				Embaucher des freelances et trouver des emplois freelances en ligne.
			</h1>
			<div class="hero-subtitle">
				Des milliers de petites entreprises et particuliers donnent vie à leurs projets.
			</div>
			<div class="hero-button">
				<%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</section>
<!-- End hero section -->

<!-- Steps section -->
<section class="steps-section">
	<div class="container">


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        1    
				    </strong>
				</span>
			</div>

			<div class="step-title-box text-center">
				Inscrivez-vous
			</div>
			<div class="step-body text-center">
				Cela ne prend que 5 minutes!
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
								<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        2   
				    </strong>
				</span>
			</div>

			<div class="step-title-box text-center">
				Votre projet
			</div>

			<div class="step-body text-center">
				Dites nous de quoi vous avez besoin.
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        3    
				    </strong>
				</span>
			</div>
			<div class="step-title-box text-center">
				Recevez des offres
			</div>
			<div class="step-body text-center">
				Obtenez des offres de freelances compétents en quelques minutes.
			</div>
		</div>

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<!-- Create an icon wrapped by the fa-stack class -->
				<span class="fa-stack">
				    <!-- The icon that will wrap the number -->
				    <span class="fa fa-circle-o fa-stack-2x"></span>
				    <!-- a strong element with the custom content, in this case a number -->
				    <strong class="fa-stack-1x">
				        4    
				    </strong>
				</span>
			</div>
			<div class="step-title-box text-center">
				Embauchez
			</div>
			<div class="step-body text-center">
				Discutez, négociez et embauchez le meilleur freelance.
			</div>
		</div>


	</div>
</section>


