<!-- Hero section -->
<section class="hero-wrapper">

	<div class="hero-content">
		<div class="container text-center">
			<h1 class="hero-title">
				Travailler partout  à partir de maintenant!			
				</h1>
			<div class="hero-subtitle">
				<!-- Des milliers de petites entreprises et particuliers donnent vie à leurs projets. -->
				Connectez-vous aux meilleurs entreprises et trouver des emplois des grandes entreprises, PME et organisations à travers le monde.
			</div>
			<div class="hero-button">
				<%= link_to "COMMENCER", new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</section>
<!-- End hero section -->

<!-- How it work -->
<%= render "/home/how-it-work" %>

<!-- Categories -->
<%= render "/home/categories" %>

<!-- Steps -->
<%= render "/home/steps" %>

