<!-- Hero section -->
<section class="hero-wrapper">

	<div class="hero-content">
		<div class="container text-center">
			<h1 class="hero-title">
				Embaucher des freelances et trouver des emplois freelances en ligne.
			</h1>
			<div class="hero-subtitle">
				<!-- Des milliers de petites entreprises et particuliers donnent vie à leurs projets. -->
				Connectez-vous aux meilleurs entreprises et postuler ou trouver des emplois des grandes entreprises, PME et organisations à travers le monde.
			</div>
			<div class="hero-button">
				<%= link_to "COMMENCER", new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</section>
<!-- End hero section -->

<!-- Steps section -->
<section class="steps section">


			<h2 class="section-title  text-center both-padding-3">Les 4 étapes vers la reussite</h2>
	<div class="container padding-top-30">

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
					1
				</div>
			</div>

			<div class="step-title-box text-center">
				Inscrivez-vous
			</div>
			<div class="step-body text-center">
				Créer et completer votre profil en quelques minutes!
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
					2
				</div>
			</div>

			<div class="step-title-box text-center">
				De quoi vous avez besoin?
			</div>

			<div class="step-body text-center">
				Dites nous de quoi vous avez besoin de faire.
			</div>
		</div>


		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
			<div class="shape">
					3
				</div>
			</div>
			<div class="step-title-box text-center">
				Recevez des offres
			</div>
			<div class="step-body text-center">
				Commencer à recevoir les offres des meilleurs talents.
			</div>
		</div>

		<div class="col-md-3 step-box">
			<div class="step-icon-box text-center">
				<div class="shape">
					4
				</div>
			</div>
			<div class="step-title-box text-center">
				Embaucher
			</div>
			<div class="step-body text-center">
				Discuter, négocier et embaucher le meilleurs talents.
			</div>
		</div>


	</div>
</section>

