<div class="container about-content">
	<h1>Présentation</h1>
	Slatejob.com est le plus grand marché au monde de freelance et d'externalisation de par son nombre d'utilisateurs et de projets. Nous connectons globalement plus de 26,295,753 employeurs et freelances de plus de 247 pays, régions et territoires. Via notre marché, les employeurs peuvent embaucher des freelances pour travailler dans des domaines tels que le développement de logiciels, la rédaction, la saisie de données et le design ainsi que l'ingénierie, les sciences, la vente et le marketing, la comptabilité et les services juridiques. 
</div>