<div class="container ">
    <div class="terms-wrapper">
        <div class="terms-header text-center">
            <h3 >Politique de confidentialité de slatejob.com</h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <p>
                La présente Politique de confidentialité décrit comment et quand nous collectons, utilisons et partageons vos informations à travers notre site Web, et par l’intermédiaire de nos partenaires et autres tierces parties. <br />
                Par exemple, vous nous adressez des informations quand vous utilisez nos Services sur le Web vous consentez à ce que nous collections, transférions, conservions, divulguions et utilisions vos informations aux fins prévues par la présente Politique de confidentialité. Cela inclut toute information que vous choisissez de fournir et qui serait réputée sensible au sens du droit applicable. Toute référence, dans cette politique, au terme « nous » s’entend par référence aux contrôleurs de vos informations aux fins de cette politiques
                </p>

                <p>
                Quel que soit votre pays de résidence, vous nous autorisez à transférer, à stocker et à utiliser vos informations aux États-Unis, au Bénin et dans tout autre pays où mentorat.club exerce des activités. Dans certains de ces pays, les lois et réglementations relatives au respect de la vie privée et à la protection des données et qui encadrent les conditions dans lesquelles les pouvoirs publics peuvent accéder aux données sont susceptibles d’être différentes de celles du pays dans lequel vous résidez.

                Si vous avez des questions ou commentaires concernant la présente Politique de confidentialité, veuillez nous adresser une demande à l’adresse admin@slatejob
                </p>

                <ol>
                    <p>
                    <strong><li>Collecte et utilisation des informations</li></strong>
                    <trong>Informations de base concernant votre compte :</trong>

                    Si vous choisissez de créer un compte sur mentorat.club, vous devez nous fournir un certain nombre d’informations personnelles, telles que votre nom, votre prénom, votre mot de passe, votre adresse e-mail ou votre numéro de téléphone. Sur mentorat.club, votre nom et votre nom d’utilisateur sont affichés publiquement, notamment sur votre page de profil et dans les résultats de recherche. Vous pouvez créer et gérer plusieurs comptes sur mentorat.club. Certaines coordonnées que vous fournissez pour vous connecter ne sont pas publiques tels que les numéros de téléphone et adresse e-mail. Certaines des fonctionnalités de nos produits, telles que l’affichage des profils d’utilisateur (startup) nécessitent que vous créiez un compte.

                    </p>

                    <p>
                    <strong><li>Coordonnées:</li></strong>

                    Nous pouvons utiliser vos coordonnées afin de vous envoyer des informations sur nos services, vous proposer des offres commerciales, aider à prévenir les spams, la fraude ou les abus, et aider d’autres personnes à trouver votre compte, notamment via des services tiers et des applications client. Nous pouvons, avec votre autorisation expresse, utiliser des renseignements personnels vous concernant pour faire la promotion de mentorat.club. Si nous décidons d'utiliser ces informations pour promouvoir le site, mentorat.club vous contactera. Si vous changez d'avis, vous pouvez interdire l'utilisation de ces informations quand vous le souhaitez. Vous pouvez personnaliser les paramètres de notification par e-mail et sur l’application pour contrôler les notifications que vous recevez de mentorat.club. Vous pouvez également vous désinscrire d’une notification en suivant les instructions fournies dans la notification ou sur notre site Web.
                    </p>
                    
                    <p>
                    <strong><li>Messages directs et Communications non publiques:</li></strong>

                    Nous proposons un certain nombre de fonctionnalités qui vous permettent de communiquer de façon plus confidentielle. Par exemple, vous pouvez utiliser les Messages directs pour avoir des conversations privées avec d’autres utilisateurs mentorat.club. Lorsque vous communiquez de façon privée avec d’autres utilisateurs via nos services, par exemple en envoyant et en recevant des Messages directs, nous stockerons et traiterons vos communications et les informations y afférentes. Bien que des fonctionnalités telles que les messages directs soient destinées à être privées, n’oubliez pas que les destinataires peuvent copier, stocker et repartager le contenu de vos communications.
                    </p>
                    
                    <p>
                    <strong><li>Informations de localisation:</li></strong>

                    Nous pouvons recevoir des informations sur votre localisation. Vous pouvez aussi nous communiquer votre localisation actuelle en la renseignant sur mentorat.club. Nous pouvons également déterminer votre localisation en utilisant les autres données de votre appareil, telles que les informations de localisation précises de votre GPS, les informations concernant les réseaux sans fil ou les antennes-relais à proximité de votre appareil mobile, ou votre adresse IP. Nous pouvons être amenés à utiliser et conserver vos informations de localisation pour vous fournir des suggestions de mentors ou startups à proximité.
                    </p>
                    
                    <p>
                    <strong><li>Liens:</li></strong>

                    Nous pourrons conserver un historique de la façon dont vous interagissez avec les liens dans nos services, notamment nos notifications par e-mail, les services tiers et les applications client, en redirigeant les clics ou par d’autres moyens. Ceci est réalisé dans un objectif d’amélioration de nos Services, de ciblage efficace des publicités et de partage des statistiques agrégées sur les clics, par exemple pour déterminer le nombre de clics sur un lien. Les liens, les communications non publiques telles que les Messages directs partagés sur les Services seront traités.
                    </p>
                    
                    <p>
                    <strong><li>Cookies:</li></strong>

                    Comme beaucoup d’autres sites Web, nous utilisons des cookies et autres technologies similaires pour collecter des données supplémentaires sur l’utilisation du site Web et pour améliorer nos services. Nous n’utilisons toutefois pas de cookies dans de nombreux éléments de nos services (comme la recherche et l’affichage des profils utilisateurs publics). Un cookie est un petit fichier de données qui est transféré sur votre ordinateur ou votre appareil mobile. Nous pourrons utiliser à la fois des cookies de session et des cookies persistants pour mieux comprendre votre interaction avec nos services, pour surveiller l’utilisation agrégée de nos utilisateurs, ainsi que le routage du trafic Web sur nos services, ou encore pour personnaliser et améliorer nos Services. Bien que la plupart des navigateurs Internet acceptent automatiquement les cookies, il est possible de modifier les paramètres de certains d’entre eux afin d’interdire les cookies ou de vous avertir lorsqu’un site tente d’enregistrer un cookie sur votre ordinateur. Toutefois, certains services pourront ne pas fonctionner correctement si vous désactivez les cookies.
                    </p>
                    
                    <p>
                    <strong><li>Utilisation de nos Services:</li></strong>

                    Nous recevons des informations lorsque vous interagissez avec nos Services, même si vous n’avez pas créé de compte (« Données de journal »). Par exemple, lorsque vous visitez nos sites Web, que vous vous authentifiez sur nos Services, que vous interagissez avec nos notifications par e-mail, que vous utilisez votre compte pour vous authentifier sur un site, une application ou un service d’une tierce partie, ou que vous visitez un site, une application ou un service d’une tierce partie comprenant un bouton ou un widget mentorat.club, nous sommes susceptibles de recevoir des informations à votre propos. Ces Données de journal sont par exemple votre adresse IP, le type de votre navigateur, votre système d’exploitation, la page Web d’où vous venez, les pages visitées, votre localisation, votre opérateur téléphonique, des informations relatives à votre appareil (notamment les identifiants de l’appareil et de l’application), des termes de recherches ou des informations de cookies.
                    </p>
                    <strong><li>Tierces parties et sociétés affiliées:</li></strong>

                    Nous sommes susceptibles de recevoir des informations vous concernant de la part de tierces parties, par exemple d’autres utilisateurs mentorat.club, des partenaires (y compris des partenaires publicitaires) ou nos sociétés affiliées. Nos partenaires publicitaire et sociétés affiliées sont susceptibles de partager des informations avec nous, par exemple un identifiant de cookie relatif à un navigateur, un identifiant d’appareil mobile ou de compte (tel qu’une adresse e-mail) sous forme cryptée, ainsi que des données démographiques ou des informations sur vos centres d’intérêt et les contenus consultés ou actions sur un site Web ou une application. Nos partenaires publicitaires, particulièrement nos annonceurs, peuvent nous permettre de recueillir des informations similaires directement à partir de leur site Web ou de leur application, en intégrant notre technologie publicitaire.
                    Partage et divulgation des informations

                    <p>
                    <strong><li>Consentement et instructions de l’utilisateur:</li></strong>

                    Nous divulguons et partageons vos informations conformément à vos instructions, par exemple quand vous autorisez un site Web ou une application tierce à accéder à votre compte. Nous pouvons aussi partager vos commentaires sur une entreprise ou autres. Si vous partager des informations, telles que des Messages directs ou des vidéos, des informations sensibles de votre projet par exemple sur votre page, ou avec un autre utilisateur, gardez à l’esprit que ces informations peuvent être partagées et vu par d’autres utilisateurs. Vous le faites à vos risques et périls. Nous vous indiquons qu'aucune mesure de sécurité ne peut être parfaite ou inviolable. Nous ne pouvons maîtriser les agissements des autres utilisateurs. Nous déclinons toute responsabilité au cas où une personne contournerait les mesures de sécurité du site web d'une manière non autorisée. Vous comprenez et acceptez que, même après qu'il a été retiré, le contenu d'utilisateur peut rester consultable dans des pages archivées, en mémoire cache ou sur les comptes d'utilisateurs ayant copié ou stocké votre contenu d'utilisateur.
                    </p>

                    <p>
                    <strong><li>Prestataires de services:</li></strong>

                    Nous sollicitons des prestataires de services aux États-Unis, au Bénin et dans d’autres pays pour la fourniture de services et l’exécution de certaines fonctions. Par exemple, nous utilisons les services de différents services tiers pour faciliter la fourniture de nos Services, comme l’hébergement des différents blogs et wikis, ou nous aider à comprendre et améliorer l’utilisation qui est faite des Services, comme Google Analytics.

                    Nous partageons vos informations personnelles et privées avec ces prestataires de service dès lors qu’ils sont soumis à des obligations de confidentialité conformes à cette Politique de confidentialité et à toute autre mesure de confidentialité et de sécurité appropriées, sous réserve que ces tierces parties utilisent vos données personnelles et privées en notre nom et en suivant nos instructions.
                    </p>
                    <strong><li>Transactions commerciales:</li></strong>

                    Si vous effectuez un paiement dans le cadre d’une transaction commerciale par le biais de nos services, nous pouvons être amenés à fournir au vendeur, au commerce en ligne, à la marketplace ou à l’organisation caritative vos nom, adresse e-mail, adresse d’expédition, Informations de paiement et Données de transaction afin de faciliter le traitement des paiements, l’exécution des commandes et la résolution des litiges (notamment les litiges liés aux paiements et aux expéditions), et d’aider à prévenir, détecter et enquêter sur les fraudes ou autres activités interdites. Veuillez vous reporter aux politiques de confidentialité de ces tierces parties pour de plus amples informations sur leurs pratiques en la matière.
                    <p>
                    <strong><li>Loi et préjudice:</li></strong>

                    Nonobstant toute disposition contraire de la présente Politique de confidentialité, nous conservons ou divulguons vos informations si nous estimons que cela est raisonnablement nécessaire pour satisfaire à toute obligation légale ou réglementaire, toute procédure juridique ou demande administrative, pour protéger la sécurité d’une personne, pour traiter tout problème de nature frauduleuse, sécuritaire ou technique, ou pour protéger les droits ou les biens de nos utilisateurs. Toutefois, rien dans la présente Politique de confidentialité n’a pour intention de limiter tout droit ou action que vous pourriez avoir à l’encontre d’une demande émanant d’une tierce partie (notamment des autorités publiques) à lui fournir vos informations.
                    </p>
                    
                    <p>
                    <strong><li>Transferts d’activités et sociétés affiliées:</li></strong>

                    Dans l’éventualité où nous serions impliqués dans une faillite, fusion, acquisition, réorganisation ou vente d’actifs, vos informations seront susceptibles d’être vendues ou transférées dans le cadre de cette opération. La présente politique de confidentialité s’appliquera à vos informations telles qu’elles ont été transférées à la nouvelle entité. Nous pouvons également être amenés à divulguer des informations vous concernant à nos sociétés affiliées afin de nous permettre de fournir, de comprendre et d’améliorer nos Services et les services de nos sociétés affiliées, notamment pour la diffusion de publicités.
                    </p>

                    <strong><li>Informations publiques et non personnelles:</li></strong>
                

                <p>
                Nous pouvons être amenés à partager et divulguer vos informations publiques, agrégées ou à caractère non personnel, telles que les informations de votre profil public, vos commentaires, le nombre de startup que vous suivez, vos expériences D’autres informations, telles que votre nom et votre nom d’utilisateur, sont toujours publiques sur Mentorat.club, sauf si vous supprimez votre compte.
                </p>
                
                <p>
                Si vous créez un profil entrepreneur sur Slatejob, certaines informations contenues dans le profil seront recueillies et affichées publiquement sur le site web. Cela concerne votre nom, votre ville de résidence, votre appartenance à un groupe ou à une entreprise, votre photo, le nom de votre entreprise et son site web, votre domaine d'activités, la date de création de l'entreprise, la description de vos compétences en gestion d'entreprise et certaines autres informations que vous avez fournies lors de votre inscription sur Slatejob.
                </p>

                <p>

                Si vous créez un profil, certaines informations contenues dans le profil seront recueillies et affichées publiquement sur le site web. Cela concerne votre nom, votre ville de résidence, votre photo, votre rang ou votre titre, le nom de votre entreprise, votre domaine d'activités, vos domaines de compétence, la description de vos compétences en gestion d'entreprise, vos années d'expérience en tant que propriétaire et en tant que directeur et certaines autres informations que vous avez fournies lors de votre inscription sur Slatejob.com.
                </p>
                </ol>

                

                <p><strong>Accès et modification de vos données personnelles</strong></p>
                <p>
                Si vous êtes enregistré en tant qu’utilisateur de nos services, nous vous fournissons les outils et les paramètres de compte pour accéder, corriger, supprimer ou modifier les informations personnelles que vous nous avez fournies et qui sont associées à votre compte.

                Vous pouvez également supprimer votre compte mentorat.club de manière permanente. Votre compte sera désactivé, puis effacé. Dès lors qu’il sera désactivé, votre compte, notamment votre nom, votre nom d’utilisateur et votre profil public, ne sera plus visible sur mentorat.club.

                Vous devez garder à l’esprit que les moteurs de recherche et autres tierces parties peuvent encore conserver des copies de vos informations publiques, telles que vos informations de profil utilisateur et vos Tweets publics, même après avoir supprimé les informations de mentorat.club ou désactivé votre compte.
                </p>
                
                <p><strong>Enquêtes</strong></p>
                <p>
                De temps en temps, nous demandons des renseignements aux utilisateurs par le biais d'enquêtes. Les renseignements demandés peuvent être des coordonnées (comme un nom ou une adresse e-mail) ou être en lien avec votre compte mentorat.club, dans lequel ces renseignements sont déjà présents. Les coordonnées peuvent être utilisées suite à l'enquête, pour effectuer un suivi. Les renseignements obtenus grâce aux enquêtes seront utilisés pour évaluer et améliorer la fonctionnalité du site web et la satisfaction des utilisateurs concernant ce site et les programmes de mentorat.club. Les renseignements obtenus par le biais de ces enquêtes et permettant d'identifier personnellement les utilisateurs ne seront pas communiqués à des tiers à moins que ces utilisateurs ne soient avertis et ne choisissent de communiquer ces renseignements. Il est possible que nous nous servions d'un intermédiaire pour mener ces enquêtes. Toutefois, il lui est interdit d'utiliser les renseignements permettant d'identifier personnellement les utilisateurs à d'autres fins que celles de l'enquête.
                </p>

                <p><strong>Modifications de cette Politique de confidentialité</strong></p>

                <p>
                Nous nous réservons le droit de modifier la présente Politique de confidentialité à tout moment. La version la plus actuelle de cette politique régit notre utilisation de vos informations et sera toujours disponible. Si nous modifions cette politique d’une manière que nous considérons, à notre seule discrétion, comme substantielle, nous vous le notifierons via une mise à jour émanant du compte mentorat.club ou l’envoi d’un e-mail à l’adresse associée à votre compte. En continuant d’accéder aux Services ou en les utilisant après l’entrée en vigueur de ces changements, vous acceptez d’être lié aux conditions énoncées dans la nouvelle Politique de confidentialité.
            </p>


            </div>
            
        </div>
    </div>

</div>