 <div class="container">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
   
        <div class="col-md-12">
            <div class="lockscreen-logo">
                <%= render('./shared/logo') %>
            </div>
            <div class="plateform-description text-center">
                <h4>Embaucher des freelances et trouver des emplois freelances en ligne.</h4>
                <h5>Des milliers de petites entreprises et particuliers donnerons vie à leurs projets…</h5>
            </div>

            <div class="help-block text-center">
                <p>Pour être informer lors du lancement officiel du service, veuillez vous abonner!</p>
            </div>

            <div class="lockscreen-item">

                <%= form_for(@subscription, class: "lockscreen-credentials") do |f| %>

                    <div class="input-group">
                        <%= f.email_field :email,  class: "form-control",  placeholder: "Votre adresse email ici!", required: true %>
                        <div class="input-group-btn">
                            <%= f.button "Envoyer", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Encours..."} %>
                        </div>
                    </div>
                <% end %>
            </div>


            <div class="copyright text-center">
                <p>
                Conçu avec <i class="fa fa-heart" style="color: pink;"></i> et beaucoup de <i class="fa fa-coffee" style="color: #ccc;"></i> - © Copyright 2017. Tous Droits Réservés.
                </p>
            </div>

        </div>
    </div>
</div>

<!-- /.center -->

