<div class="container ">
    <div class="terms-wrapper">
        <div class="terms-header text-center">
            <h3 >Accord sur les conditions d'utilisation de slatejob.com</h3>
        </div>
    	<div class="box box-primary">
            <div class="box-body">
               
                <p>
                Les conditions d’utilisation ci-après expliquent les termes entre Slatejob et les utilisateurs. <br />
                En utilisant réellement le Service, les Utilisateurs sont supposés avoir accepté les Termes et Conditions.
                </p>
                <ul>
                    <li>L’utilisation de slatejob.com est interdit aux personnes de moins de 13 ans</li>

                    <li>Slatejob.com se réserve le droit de valider ou non votre inscription en tant que freelance ou employeur.</li>

                    <li>Vous avez le droit de mettre fin à votre coopération avec slatejob.com en supprimant votre compte.</li>

                    <li>Slatejob.com a également le droit de mettre fin à votre participation si vous ne respectez pas ces conditions d’utilisation.</li>

                    <li>Slatejob.com se chargera de vous informer si l’un de ses services devenait payant.</li>

                   <li> Si les utilisateurs utilisent le service pour leur compte ou à des fins d'entreprise commerciale, cette entreprise commerciale sera également considérée comme ayant accepté les Conditions Générales.</li>
                </ul>

                <p>Cet accord est valide et irrévocable.</p>

                <p><b>Modification des Termes</b></p>
                <p>

                Nous pouvons modifier les termes et conditions d’utilisations, sans préavis aux utilisateurs. La modification prendra effet une fois que les Modalités ou Conditions modifiées seront affichés à un emplacement approprié sur le site Web. <br />
                Les utilisateurs sont censés avoir accordé un consentement valide et irrévocable aux Modalités ou conditions modifiées en continuant d'utiliser le service. <br />

                Si vous n'êtes pas d'accord avec ces conditions d'utilisation ou celles qui seront publiées sur ce site à l'avenir, vous ne pourrez pas utiliser le site Web ou y avoir accès. Il est de votre responsabilité de vérifier régulièrement si les conditions d'utilisation ont été modifiées et de vous demander si vous acceptez ces changements. Les utilisateurs doivent se référer aux termes et conditions régulièrement lors de l'utilisation du Site.
                 </p>
                <p><b>Compte</b></p>
           
                <p>
                Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l'interactivité établie entre vous et le Site. Les informations que vous fournissez doivent être véritable exacte et complètes lors de l'utilisation vous devez conserver ces informations à tout moment. Si vous enregistrer un mot de passe lors de l'utilisation du service, vous devez faire preuve de diligence et de responsabilité pour que le mot de passe ne soit pas utilisé illégalement. <br />
                Nous pouvons traiter toutes les activités menées avec le mot de passe comme des activités qui ont été menées par le détenteur du mot de passe lui-même.
            </p>
                <p>
                Slatejob peut donc vérifier les informations que vous avez fournies à votre inscription si nous jugeons nécessaire. Vous consentez à recevoir des messages et des notifications de la part de Slatejob.com à l'adresse email que vous avez fournie lors de votre inscription ou à une adresse se trouvant dans les paramètres de votre compte.
            </p>
                <p>
                Slatejob se réserve le droit de supprimer tout compte inactif pendant une période d'un an ou plus depuis sa dernière activation, sans préavis à l'utilisateur. Les droits des utilisateurs à utiliser le service expirent lorsque leur compte a été supprimé pour une raison quelconque. Le compte ne peut être récupéré même si les utilisateurs ont accidentellement supprimé leur compte. Chaque compte sur Slatejob.com est à l'usage exclusif et appartient uniquement au propriétaire du compte. Les utilisateurs ne peuvent ni transférer ni prêter leurs comptes à des tiers ni leurs comptes ne peuvent être hérités par un tiers.
                </p>
                <p><b>Confidentialité</b></p>
            
            <p>
                Slatejob accorde la plus haute priorité à la vie privée de ses utilisateurs. Nous nous engageons à protéger la vie privée et les renseignements personnels de nos utilisateurs conformément à la politique de confidentialité de Slatejob. 
            </p>
            <p><b>Annonces</b></p>
           
            <p>

                Slatejob se réserve le droit de fournir aux utilisateurs des annonces pour slatejob.com ou un tiers, par le biais de la plateforme. Le site ne peut être utilisé à des fins commerciales ou dans un autre but. Les organisations, compagnies et/ou entreprises n'ont pas le droit d'utiliser ce site Web à d'autres fins que celles mentionnées dans ces conditions d'utilisation ou dans cette politique de confidentialité. L'usage illégal et/ou non autorisé de ce site Web, y compris le recueil de noms et/ou d'adresses email d'utilisateurs par voie électronique ou autre et pour quelque raison que ce soit, y compris, mais pas uniquement, dans le but d'envoyer des emails non désirés et des frames ou des liens non autorisés renvoyant au site Web, constituent une violation de cet accord. Une action en justice pourra être entreprise dans le cadre, entre autres, du droit civil, pénal ou d'une procédure d'injonction.

                <p><b>Services aux partenaires commerciaux</b></p>
                
                <p>
                Nous pourrons conserver un historique de la façon dont vous interagissez avec les liens dans nos services, notamment nos notifications par e-mail, les services tiers et les applications client, en redirigeant les clics ou par d’autres moyens. Ceci est réalisé dans un objectif d’amélioration de nos Services, de ciblage efficace des publicités et de partage des statistiques agrégées sur les clics, par exemple pour déterminer le nombre de clics sur un lien. Les liens, les communications non publiques telles que les Messages directs partagés sur les Services seront traités.
            </p>

                <p><b>Contenu</b></p>

                Société demeure titulaire de tous les droits de propriété intellectuelle ainsi que de tous les autres droits sur les Contenus offerts aux Utilisateurs par la Société, Et ces droits ne seront pas transférés aux Utilisateurs. Les utilisateurs ne doivent pas utiliser, interférer ou tenter d'accéder au contenu au-delà de la portée de l'utilisation prévue des contenus du service (y compris, mais sans s'y limiter, la copie, la transmission, la reproduction, la modification).
                <p>

                Si les utilisateurs souhaitent sauvegarder la totalité ou une partie des contenus soumis, ils devront le faire eux-mêmes. La société n'assumera pas l'obligation de sauvegarder les contenus soumis.
            </p>
            <p>

                La Société peut vérifier les détails des contenus soumis, lorsque la Société estime que les contenus soumis peuvent violer les lois ou dispositions connexes énoncées dans les termes et conditions d’utilisation. Toutefois, la société n'est pas tenue de mener de telles enquêtes. Si la compagnie croit que l'utilisateur a violé ou peut violer les lois ou dispositions applicables dans les conditions générales relatives aux contenus soumis, la société se réserve le droit d'empêcher l'utilisateur d'utiliser les contenus soumis de certaines manières, sans préavis à l'utilisateur.
            </p>
            <p>

                Nous aurions le droit, à notre seule discrétion, de clôturer les comptes des personne ayant violé ces droits de façon répétée, aux lois en vigueur. Nous avons aussi le droit, à notre seule discrétion, de limiter l'accès au site Web et/ou de clôturer les comptes des utilisateurs qui violent les droits de propriété intellectuelle des autres, que cette violation soit répétée ou non. Si vous pensez avoir repéré, sur le site Web, du contenu qui viole vos droits d'auteur, vous êtes en droit de le marquer comme contenu inapproprié.
            </p>
            <p>

                Slatejob examinera ce contenu et pourra le retirer de l'espace public. En publiant du contenu d'utilisateur sur le site Web, vous reconnaissez, déclarez et garantissez que vous avez le droit et le pouvoir d'accorder à Slatejob une licence irrévocable, perpétuelle, non-exclusive, entièrement libérée et valable dans le monde entier pour utiliser, copier, accéder à, afficher, distribuer, reformater, traduire et extraire ce contenu d'utilisateur et pour s'inspirer de ce contenu d'utilisateur ou l'inclure à d'autres travaux, quel qu'en soit le but, ainsi que pour accorder et autoriser des sous-licences pour l'utilisation de ce contenu.
                Cependant, certaines informations peuvent demeurer sur le site Web après qu'un utilisateur a désactivé son profil. 
            </p>
                <p><b>Restrictions</b></p>

                <p>Les utilisateurs doivent acceptez les dispositions suivantes</p>

                <ol>

                    <li>
                        Vous ne pouvez pas envoyer, de quelque manière que ce soit, de messages commerciaux non autorisés aux utilisateurs (comme des courriers indésirables).
                    </li>

                    <li>
                        Vous ne pouvez pas recueillir les informations des utilisateurs, ni accéder au site par le biais de moyens automatisés (comme des robots permettant le recueil de données, des inforobots de recherche Web ou des extracteurs de données) sans notre permission.
                    </li>

                    <li>
                        Vous ne pouvez pas télécharger de virus ou d'autres programmes malveillants sur le site.
                    </li>

                    <li>
                        Vous ne pouvez pas demander son identifiant et son mot de passe à une autre personne et vous ne pouvez pas accéder au compte d'une autre personne.
                    </li>

                    <li>
                        Vous ne pouvez pas intimider ni harceler les utilisateurs.
                    </li>

                    <li>
                        Vous ne pouvez pas publier de contenu haineux, menaçant, pornographique, comportant des images de nudité ou de violence, ou violant les lois en vigueur.
                    </li>

                    <li>
                        Vous ne pouvez pas publier de contenu faisant allusion à l'alcool ou à d'autres sujets interdits aux mineurs sans les restrictions appropriées.
                    </li>

                    <li>
                        Vous ne pouvez pas utiliser le site Web pour faire quoi que ce soit d'illégal, de mensonger, de malveillant et de discriminant.
                    </li>

                    <li>
                        Vous ne pouvez ni faciliter ni encourager les violations de ces conditions d'utilisation.
                    </li>

                    <li>
                        Si vous voulez recueillir des renseignements sur les utilisateurs, vous devrez obtenir leur consentement, leur assurer que c'est bien vous (et pas Slatejob) qui recueillez ces renseignements et publier votre politique de confidentialité.
                    </li>

                    <li>
                        Vous ne pouvez pas publier les numéros de sécurité sociale, de permis de conduire, de carte de crédit ou de débit ou de compte en banque ou d'autres renseignements confidentiels appartenant à quiconque sur ce site Web.

                    <li>
                        Vous ne pouvez pas utiliser Slatejob.com si vous habitez dans un pays soumis à un embargo par les États-Unis ou si vous figurez sur la liste des ressortissants spécifiquement désignés par le Département du Trésor des États-Unis.
                    </li>

                    <li>
                        Vous ne pouvez exercer des activités qui bénéficient ou collaborent avec des groupes anti-sociaux.
                    </li>

                    <li>Vous ne pouvez exercer des Activités liées à des activités religieuses ou à des invitations à certains groupes religieux.
                    </li>
                </ol>

                <p><b>Autres activités jugées inappropriées par la Société</b></p>
                <p><b>Responsabilité de l'utilisateur</b></p>

                <p>
                Les utilisateurs utilisent ce site à leurs propres risques et assument toute responsabilité pour les actions menées et leurs résultats sur le site, y compris lors de l'utilisation de nos services sur des appareils mobiles. Nous pouvons prendre des mesures que nous estimons nécessaires et appropriées si on reconnaît qu'un utilisateur utilise le service d'une manière qui enfreint les Conditions Générales. Toutefois, nous ne serons pas responsables de la correction ou de la prévention d'une telle violation envers les utilisateurs ou d'autres personnes. Dans le cas où nous subissons une perte ou un dommage ou accusé d'une dépense (y compris, mais sans s'y limiter, des honoraires d'avocat) directement ou indirectement (y compris, mais sans s'y limiter, les cas où nous sommes poursuivi pour des dommages-intérêts par un tiers) l'utilisateur devra indemniser immédiatement la société à sa demande.
            </p>
                
                <p><b>Exonération de responsabilité de la société</b></p>
                
                <p>
                Nous ne garantissons ni expressément ni implicitement de fournir des services sans ces défauts. Lorsque la loi l'autorise, les fournisseurs et distributeurs de Slatejob ne seront pas responsables des pertes de profits, de revenus ou de données, de pertes financières ou de dommages indirects, spéciaux, consécutifs, exemplaires ou punitifs dans la mesure permise par la loi de Slatejob et ses fournisseurs et distributeurs, pour toute réclamation en vertu de ces conditions, y compris pour toute garantie implicite, est limitée au montant que vous nous avez payé pour utiliser les services (ou, si nous le choisissons, pour vous fournir de nouveau les services). Dans tous les cas, Slatejob et ses fournisseurs et distributeurs ne seront pas responsables de toute perte ou dommage qui n'est pas raisonnablement prévisible.
            </p>
                <p><b>Litiges et indemnité</b></p>
                
                <p>
                Vous êtes entièrement responsable des interactions que vous avez avec les utilisateurs et des litiges pouvant résulter de ces interactions. Slatejob se réserve le droit de se tenir au courant des litiges vous opposant à d'autres utilisateurs, mais n'en a pas l'obligation. En cas de litige à propos du site Web ou mettant en cause ce dernier, vous acceptez le fait que ce litige soit soumis aux lois en vigueur, sans égard aux dispositions relatives aux conflits de lois, et soit jugé dans un état ou auprès d'une cour de justice. Vous reconnaissez la compétence personnelle et territoriale des tribunaux nationaux et fédéraux de la ville de ………. Vous acceptez de verser une indemnité et d'éviter toute perte, responsabilité, réclamation ou demande à Slatejob ainsi qu'à ses filiales, affiliés, et à chacun de leurs directeurs, responsables, agents, entrepreneurs, partenaires et employés. Cela comprend des honoraires d'avocat suffisants, payés par un tiers, à cause de l'utilisation que vous avez faite du site Web, du contenu d'utilisateur que vous avez publié sur le site Web ou par son biais, de votre comportement dans le cadre des programmes Slatejob et/ou à cause d'une violation de cet accord.
            </p>
               <p><b> Messageries des utilisateurs</b></p>
               <p>

                En envoyant des transmissions à d'autres utilisateurs (y compris, mais pas uniquement, des demandes entre freelance et employeur), vous acceptez que Slatejob stocke les conversations que vous avez avec d'autres utilisateurs sur les serveurs que nous possédons ou contrôlons. Vous comprenez que, même si vous effacez une conversation que vous avez eue avec un autre utilisateur, il/elle pourra quand même la sauvegarder.
            </p>
                <p><b>Flux de contenu et widgets de distribution virale.</b></p>
                
                <p>
                Dans le but de promouvoir les opportunités d'emplois présentes sur le site Web, il est possible que nous exportions certaines caractéristiques de votre profil vers des sites Web de tiers pour que les utilisateurs potentiels puissent savoir quel genre d'opportunités d'emplois existe sur le site Web. Les caractéristiques pouvant être exportées vers des sites Web de tiers comprennent, entre autres, votre nom, votre photo, votre domaine d'activités, le nom de votre entreprise, les compétences requises, la ville et l'état où se trouve votre entreprise, un résumé des Demandes de Slatejob, les compétences présentes dans les Demandes de Slatejob, l'URL de votre profil et l'URL des Demandes de Slatejob.
            </p>

                <p><b>Sites Web et contenu de tiers.</b></p>
                
                <p>
                Le site Web comporte des liens vers d'autres sites Web ("sites Web de tiers") (ou, nous pouvons vous envoyer sur ces liens par le biais du site Web), ainsi que des articles, des photographies, des textes et d'autres types de contenu appartenant à des tiers ou provenant d'eux (les "éléments de tiers"). Nous ne vérifions pas l'exactitude, la justesse ou l'exhaustivité de ces sites Web de tiers et de ces éléments de tiers et nous ne sommes pas responsables des actions ou des omissions liées aux sites Web de tiers ou aux éléments de tiers. Si vous décidez de quitter le site Web et de vous rendre sur des sites Web de tiers, ou d'utiliser ou d'installer des éléments de tiers, vous le faites à vos risques et périls et nos conditions et politiques ne sont alors plus valables. Nous vous conseillons d'examiner les conditions et politiques en vigueur sur les sites Web de tiers sur lesquels vous naviguez à partir du site Web ou sur ceux liés à des éléments de tiers, notamment celles concernant la confidentialité et le recueil de données.
            </p>
                <p><b>Notification et contact</b></p>
                
                <p>
                Lorsque la société avise ou contacte les utilisateurs concernant le service, la société peut utiliser une méthode que la société juge appropriée, telle que la publication sur le site Web exploité par la société. Lorsque les utilisateurs notifient ou communiquent avec la société au sujet du service, les utilisateurs doivent utiliser l'ID de courrier électronique de demande de client admin@slatejob.com disponible sur le site Web exploité par la société ou par d'autres moyens désignés par la société. Lorsque l'utilisateur notifie ou contacte la compagnie avec une plainte, l'utilisateur doit utiliser l'ID de courrier électronique de l'acheteur admin@slatejob.com. Dans les 72heures, une réponse sera envoyée en reconnaissant que la plainte a été reçue et dans les 3 jours ouvrables, le plaignant recevra une explication des mesures prises pour traiter la plainte.
            </p>

                <p><b>Marques de fabrique</b></p>
                <p>
                Le logo "Slatejob" et les autres illustrations, logos, dessins, en-têtes, icônes, scripts et noms de services de Slatejob.com sont nos marques déposées ou nos habillages commerciaux aux Mali et/ou à l'étranger. Il est interdit, sans notre permission écrite, d'utiliser, en partie ou en totalité, de copier ou d'imiter nos marques déposées ou nos habillages commerciaux, y compris ceux faisant partie de marques déposées et/ou de noms de domaine en rapport avec tous les produits ou services qui, de quelque manière que ce soit, sont susceptibles de créer une confusion.
            </p>


            </div>
            
        </div>
    </div>

</div>