# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 933ad028169b08b15934b24185f82f21c9cfe7578486e22341aedb1dbc27362958ada1ee4eeb2a41c19d8bc4352d1140344806c1101dc75f1df13d4f9853ebd6

test:
  secret_key_base: 9c08ccccc870fa82011bc081bc45aba8f6bcf031e5fe4749d69ca04d94f60ffbef0f2e95199f10696fc16cfee325c6a8bd27eed4d1650f26b1ce7ecec1e8c492

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
    secret_key_base: 933ad028169b08b15934b24185f82f21c9cfe7578486e22341aedb1dbc27362958ada1ee4eeb2a41c19d8bc4352d1140344806c1101dc75f1df13d4f9853ebd6


