<ul>
	<li><%= link_to "Mes projets", projects_path %></li>
	<li><%= link_to "A proximité", projects_nearby_path  %></li>
	<li><%= link_to "Avec mes compétences", projects_path %></li>
	<li><%= link_to "Rechercher", projects_path %></li>
</ul>