<ul>
               
                <li>

                 <%= link_to 'Mon profil', edit_profile_path(current_user) %>

                 </li>


                <li role="separator" class="divider"></li>
                <li>
                
                 <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
                 </li>
                 </ul>