<ul>
	<li><%= link_to "Mes projets", my_projects_path %></li>
	<!-- <li>A proximité</li> -->
	<!-- <li>"Avec mes compétences"</li> -->
	<li><%= link_to "Touvez des projets", recent_projects_path %></li>
</ul>