<ul>
</ul>

           <li class="false">
            <%= link_to raw('<i class="glyphicon glyphicon-th"></i>Plus'), recent_projects_path, class: "text-center more", rel: "popover", :"data-placement" => "bottom", :"data-content" => "#{render './layouts/partials/popovers/popover_more' }" %>
   
          </li>