
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Salut <%= @email %>,<br>
      Votre abonnement à la newsletter de Slatejob est a été fait avec succès!
      <br>

    </p>
    <p>
      Pour se connecter au site, suivez juste ce lien: <%= @url %>.<br>
    </p>
    <p>
    Cordialement <br>
    L'équipe de Slatejob
    </p>
  </body>
</html>