

    <p>
      Salut <strong><%= @recipient.profile.full_name %></strong>,<br/>
      Vous avez réçu un message de la part  de: <strong><%= @sender.profile.full_name %> </strong> à travers Slatejob<br/>
      <br />
      <br />
      Voici le contenu du message: <br/> 
      
      <i>
        <strong>
          <%= @message.content %>
        </strong>
      </i>
      
      
      <br />
    </p>
    <p>
      Pour se connecter au site, suivez juste ce lien: <%= @url %>.<br>
    </p>
    