// Global fonts
/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Rubik', sans-serif; */



.iti-flag {
    background-image: url("flags.png") !important;
}

body, h1, h2, h3, h4, h5, h6{
    font-family: 'Open sans' !important;
}

/* Hack section */

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}


*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
.btn-primary {
    color: #fff;
    background-color: #3685d6 !important;
    border-color: #2978c9 !important;
}*/
label {

    font-weight: normal !important;
}

.navbar {
	margin-bottom: 0px !important;
}
.navbar-default {
    background-color: #fff !important;
    border-color: #e7e7e7 !important;
  
    border-radius: 0px !important;

    box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);

}
.btn-primary {
    color: #fff;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    border: 1px solid #4285f4 !important;
}
.account-content{
	margin-top: 30px;
}
.navbar-brand > img {
    display: block;
    width: 130px;
}
.page-wrapper{
	height: auto;
    min-height: 100%;
    background-color: #F0F0F0;
}
.login-box img {
    vertical-align: middle;
    width: 200px;
}
.register-box img {
    vertical-align: middle;
    width: 200px;
}
.hero-button .btn-primary {
    color: #fff;
    /*background-color: #337ab7;*/
    /*border-color: #2e6da4;*/
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 10px 39px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    border: 1px solid #4285f4 !important;
}
.box {
  
    border-top: 0px !important;
    box-shadow: 0 2px 4px rgba(50,50,93,0.11) !important;
    
}

.hero-wrapper{
	background-image: url("hero/hero.jpg");
	padding: 51px 0;
    background-size: cover;
    padding: 127px 0 102px;
    background-position-x: 0;
    background-position-y: -150px;
}
.hero-content h1.hero-title{
	font-size: 3.5em;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
}
.hero-content .hero-subtitle{
	font-size: 25px;
    font-weight: 400;
    color: #fff;
    line-height: 32.5px;
}
.hero-content .hero-button{
	margin: 30px;
}
.navbar-fixed-top{
	background-color: #fff;
    z-index: 3000;
    border-bottom: 1px solid #e2e8f0;
}



.section {
    /*border-bottom: 1px solid #f2f2f2;*/
    padding: 40px 0 40px;
}
.steps{
    
}
.step-box{
	padding: 6px;
	margin-bottom: 15px;
}
.step-title-box{
     font-size: 18px;
     font-weight: 700;
     margin-top: 15px;
}
.step-body{
	font-size: 12pt;
    color: #43484d;

}

.step-icon-box .fa-stack {

    color: #3685d6;
}

.footer {

    text-align: left;
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
}
.footer a {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

@media (min-width: 768px){
	.footer-item {
	    margin: 0 21px 0 0;
	    text-align: left;
	}
}

.footer-item {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
    margin: 20px 10px 0 0;
    text-align: center;
    color: #94a2b3;
}
.footer-social-wrapper{
	float: right;
    margin-top: 0;
    text-align: left;
}
footer ul {
    margin: 0;
padding: 0;
list-style-type: none;
}

footer ul li{
    display: inline;
}

.lockscreen-item {
   
    background: transparent !important;
  
}
.lockscreen-wrapper {
    max-width: 100% !important; 
    margin: 0 auto;
    margin-top: 10%;
}
#flash_wrappers {
    position: absolute;
    right: 0;
    top: 0;
}
.alert-danger {
    background-color: #d84e4e;
    border-color: #ebccd1;
    color: #efeded;
    text-align: center;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
}
#error_explanation h2{
    color: red !important;

}
#error_explanation li{
    color: red !important;

}
.alert-success , .alert-danger{
    border-radius: 0px !important;
}
.user-thumb img{
	
	width: 100%;
}
.user-info .user-login{
	font-size: 19px;
}
.user-info .user-email{
	
}
.widget-button{
	margin-top: 10px;
}
.account-content {
    /* max-width: 960px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.box-body, .box-header {
    
    padding: 20px !important;
}
.dashboard-wrapper{
	margin-top: 20px;
    margin-bottom: 20px;
}
.project-wrapper{
	margin: 20px;
}
.project_wrapper {
    margin: 20px;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.last_projects_wrapper{
	margin: 20px;
}
.project_show{
	margin: 20px;
	/* max-width: 800px; */
	width: 100%;
	/*margin-left: auto;*/
    /*margin-right: auto;*/
}
.project_title{
	font-size: 1.5em;
}
.project_content{
	/*margin: 15px;*/
}
.project_meta{
	margin-bottom: 5px;
	font-weight: bold;
    color: rgba(66, 65, 65, 0.81);
    /*margin: 15px;*/
    font-size: 0.9em;
}
.project_meta .meta_date, .meta_budget, .meta_user {
	margin-right: 5px;
}
.meta span{
	margin: 3px;
}
.plateform-description{
	margin-bottom: 30px;
	margin-top: -5px;
}
.login-page, .register-page {
    background: #f5f8fa !important;
}
.bid_user_thumb img{
	width: 70px;
    border-radius: 4px;
}
.bid_user_thumb{
	position: relative;
    float: left;
}
.bid_username{
    position: relative;
   
    /*float: left;*/
    margin-left: 15px;
}
.bid_username h5{
	font-size: 10pt;
    font-weight: 600;
}
.page_navi{
	text-align: center;
}
.bid_created_at{
	position: relative;
    /*float: left;*/
    font-style: italic;
    margin-left: 15px;
}
.bid_user_meta{
	float: left;
}
.flag{
	margin-left: 15px;
}
.project_status_open{
	background-color: rgb(82, 162, 82);
    padding: 3px;
    border-radius: 3px;
    color: white;
}
.project_status_closed{
	background-color: #c72c26;
    padding: 3px;
    border-radius: 3px;
    color: white;
}
a.post_bid{
	font-size: 18pt !important;
}
.separator{
	border-right: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    height: 10px !important;
}
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}
.skill_tag{
    border: 1px solid red;
    padding: 5px;
    border-radius: 50%;
}
.project_skills{
    margin-top: 10px;
}
.project_skills .btn{
    border-radius: 1px !important;
    margin: 3px !important;
    color: #3c8dbc !important;
}

.project_skills_title{
    font-size: 15pt;
    font-style: italic;
    margin-bottom: 6px;
}
.project_title{
    /*margin: 15px;*/
}
.project_description{
    margin: 15px;
}
.last_projects_wrapper .box{
   /* margin-bottom: 10px;*/
}
.project_by_category{
    font-size: 1.6em;
}
.sidebar_project_filter ul{
    list-style-type: none;
    padding-left: 0px;
}
.login_has_account{
    margin-top: 15px;
}
.thumbnail-preview {
    text-align: center;
    min-height: 150px;
    margin-bottom: 10px;
}
.thumbnail-preview img{
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
#pictureInput {
    /*display: none;*/
}
.insert_image_link {
    text-align: center;
    font-size: 14px;
}
.ProjectUpsell-icon {
    color: #4285f4;
    width: 24px;
    height: 24px;
    vertical-align: middle;
   
    
}
.Icon {
    display: inline-block;
    vertical-align: middle;
    fill: #75787d;
}
.ProjectUpsell-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}
.ProjectUpsell-item {
    position: relative;
    margin-bottom: 12px;
}
.project-wrapper .panel-title {

    text-align: center;
    text-transform: uppercase;
}
.project-wrapper .panel-primary > .panel-heading {
    color: #fff;
   background: -webkit-linear-gradient(top, #4387fd, #4683ea) !important;
    border-color:  #4285f4 !important;
}
.project-wrapper .panel-primary {
    border-color:  #4285f4 !important;
}
.table > thead > tr > th {
   
    text-transform: uppercase !important;
}
ul.nav.nav-tabs li a {
   text-transform: uppercase; 
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    
    background-color: #4285f4 !important;
    border-color: #4285f4 !important;
    
}
.user_thumbnail img{
    min-width: 200px;
    width: 100%;
    height: 200px;
}
.user_name{
    color: #3863a0;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 2.1em;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 42px;
}
.user_short_presentation {
    color: #a9a9a9;
    font-size: 14px;
   
}
.user_meta{
    color: #a9a9a9;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 10px 0;
}
.project_status_attributed {
    background-color: orange;
    padding: 3px;
    border-radius: 3px;
    color: white;
}

.change_thumb{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    width: 360px;
    padding: 15px;
    background-color: rgba(0,0,0,.2);
    border: none;
    font-size: 20px;
    color: #fff;
    outline: 0!important;
    text-align: center;
}
.change_thumb a{
    text-decoration: none;
    color: white;
}

.change_thumb:hover{
    background-color: rgba(0,0,0,.4);
    color: white;
}

.user_thumb {
    width: 100%;
}

.user_thumb  img {
   
    width: 200px;
    height: 200px;
}

.profile_header{
   
}

.profile_cover {
    background-color: #0d495d;
    padding-top: 70px;
}
.profile_wrapper {
    background-color: white;
}

.profile_content{
    margin-top: 30px;
}


.resume_section-content_range {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
}

.resume_section-content_item {
    clear: left;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}

.resume_section-content_title {
    color: #3863a0;
    font-weight: 600;
    padding-right: 130px;
}

.resume_section-content_subtitle {
    color: #505050;
}
.user_details{
    margin-top: 30px;
    margin-right: 30px;
}
.parent{
    border: 13px solid red;
    padding: 30px;
    width:auto;
    display: block;

}
.child{
    border: 6px solid blue;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 100px;
    text-align: center;
}
/*.shape {
   margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 46px;
    text-align: center;
    border: 3px solid #4285f4 !important;
    color: #4285f4 !important;
}*/

.shape {
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 46px;
    text-align: center;
    /*background: -webkit-linear-gradient(top, #4387fd, #4683ea) !important;*/
    border: 3px solid #4285f4 !important;
    color: #4285f4 !important;
}
.box-header.with-border {
    /*border-bottom: 1px solid #f4f4f4;*/
    border-bottom: 1px solid rgba(0,0,0,0.125)!important;
}


.btn {
    
    font-size: 11pt !important;

    font-weight: 600 !important;
}
.navbar-default .navbar-nav > li > a {
    /*color: #777;*/
    color: #9E9E9E !important;
    /*font-size: 11pt !important;*/
    /*font-weight: 600 !important;*/
}
.navbar-default .navbar-nav > li > a:hover {
   color: #4285f4 !important
}

.dropdown-menu > li > a {
   
     color: #9E9E9E !important;
    font-size: 11pt !important;
    font-weight: 600 !important;
    
}
.dropdown-menu > li > a {
   
    padding: 10px !important;
    
}
.fa {
    
    /*font-size: 11pt !important;*/
    /*font-weight: 600 !important;*/
}
.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    color: #666;
    border: 2px solid #2978c9 !important;
    border-radius: 5px;
}
.user_occupation{
    color: #a9a9a9;
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 42px;
}
.user_meta > div {
    margin-top: 2px;
    margin-bottom: 2px;
}
.date_select{
    display: inline;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.user_profession{
    font-size: 1.6em;
    margin-bottom: 5px;
    color: #a9a9a9;
}
.actions_buttons{
     margin-top: 5px;
     width: max-content;
     float: right;
}
a.red_text{
    color: red;
}
.alert-wraper .alert{
    margin-top: 15px;
    /*margin-bottom: -15px !important;*/
    /*margin-left: 15px !important;*/
    /*margin-right: 15px !important;*/
}

.section-title {
    position: relative;
    font-weight: 400;
    margin-bottom: 30px;

}
.both-padding-3{
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.section-title::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #007bff;
    position: absolute;
    left: 50%;
    /*margin-left: -15px;*/
    bottom: -20px;
}
.padding-top-30{
    margin-top: 40px;
}
footer {
    margin-top: 3em;
    background: #f5f8fa;
    border-top: 4px solid #e5e9ee;
    padding-bottom: 1em;
}
.bg-dark {
    background-color: #212529 !important;
}
.step-icon-box img{
    max-width: 80px;
    margin-top: 15px;
}
.change_avatar{
    width: 150px;
    margin: auto;
}
.user_thumbnail{
    width: 100%;
}
.terms-wrapper, .terms-header{
    margin: 30px 0px 30px 0px;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.notifications{
    background-color: #dd4b39 !important;
}
.remaining-bids{
    font-size: 5em;
    font-weight: bold;
}
.navbar-nav > li a i {
    display: block;
    font-size: 18px;
}
.more-dropdown > a i {
    margin: 0 auto;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 20px !important;
}
.popover{
    margin-top: 0px !important;
    border-radius: 0px !important;
    width: 200px !important;
}
.popover-content ul{
    list-style-type: none;
    padding: 0px;
}
.popover  li  a {
    color: #777 !important;
}
.popover  li  a:hover {
    color: #4285f4 !important;
}
.user-menu    img{
   
width: 25px;
height: 25px;
border-radius: 50%;
margin-right: 10px;
margin-top: -2px;
}
span.alert{
    font-size: 20px;
}
.user-profile-image img{
    vertical-align: middle;
    width: 150px;
    border-radius: 50%;
}
.edit-profil{
    position: absolute;
    right: 0;
    top: 0;
}
.profile-info-list::after {
    clear: both !important;
}

.profile-info-list::before, .profile-info-list::after {
    content: '';
    display: table;
}
.profile-info-list > li:first-child::before {
    position: absolute;
    content: '';
    right: 14px;
    width: 1px;
    height: 100%;
    border-right: 1px solid #e6ecf0;
}

.profile-card {
    background-color: #fff;
    margin-bottom: 20px;
}
.card-cover {
    height: 70px;
    background: #ee0979;
    background: -webkit-linear-gradient(left, #ff6a00, #ee0979);
    background: -o-linear-gradient(left, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
}
.profile-pic {
    position: relative;
}

.profile-card-info {
    padding: 15px;
}
.profile-user-info {
    overflow: hidden;
    text-align: left;
}
.profile-pic figure img {
    display: inline-block;
    width: 72px;
    height: 72px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.profile-pic figure {
    display: inline-block;
    width: 74px;
    float: left;
    margin-top: -24px;
    margin-left: 10px;
    margin-right: 10px;
}
.profile-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.profile-info-list {
    list-style: none;
}
.profile-info-list > li a small {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .02em;
}
.profile-info-list > li {
    display: inline-block;
    float: left;
    vertical-align: bottom;
    width: 50%;
    position: relative;
}
.p-connections, .p-views {
    display: block;
    color: #f95877;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
}
.profile-info-list > li a {
    display: block;
    color: #657786;
    padding: 0;
}


.profile-card-head h4 {
    font-size: 1.1em;
    margin-top: 6px;
    margin-bottom: 2px;
}
.profile-user-info h4 a {
    color: #14171a;
}
.profile-user-info p {
    color: #66757f;
}
.btn-group .btn-primary{
    color: #3276b1 !important;
    background: #fff !important;
}
.btn-group .btn-primary.active{
    color: white !important;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea) !important
}

.login-box, .register-box {
   max-width: 450px !important;
    
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 40px !important;
}