// Global fonts
/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Rubik', sans-serif; */

/* Hack section */

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
.btn-primary {
    color: #fff;
    background-color: #3685d6 !important;
    border-color: #2978c9 !important;
}*/
label {

    font-weight: normal !important;
}

.navbar {
	margin-bottom: 0px !important;
}
.navbar-default {
    background-color: #fff !important;
    border-color: #e7e7e7 !important;
  
    border-radius: 0px !important;
}
.btn-primary {
    color: #fff;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    border: 1px solid #4285f4 !important;
}
.account-content{
	margin-top: 30px;
}
.navbar-brand > img {
    display: block;
    width: 130px;
}
.page-wrapper{
	height: auto;
    min-height: 100%;
    background-color: #f5f5f5;
}
.login-box img {
    vertical-align: middle;
    width: 200px;
}
.register-box img {
    vertical-align: middle;
    width: 200px;
}
.hero-button .btn-primary {
    color: #fff;
    /*background-color: #337ab7;*/
    /*border-color: #2e6da4;*/
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 10px 39px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea) !important;
    border: 1px solid #4285f4 !important;
}
.box {
  
    border-top: 0px !important;
    
}

.hero-wrapper{
	background-image: url("hero/hero.jpg");
	padding: 51px 0;
    background-size: cover;
      padding: 127px 0 102px;
    background-position-x: 0;
    background-position-y: -150px;
}
.hero-content h1.hero-title{
	    font-size: 35px;
    font-weight: 800;
    color: #fff;
    margin-top: 0;
}
.hero-content .hero-subtitle{
	font-size: 25px;
    font-weight: 400;
    color: #fff;
    line-height: 32.5px;
}
.hero-content .hero-button{
	margin: 30px;
}
.navbar-fixed-top{
	background-color: #fff;
    z-index: 3000;
    border-bottom: 1px solid #e2e8f0;
}



.steps-section {
    border-bottom: 1px solid #f2f2f2;
    padding: 70px 0 50px;
}
.step-box{
	padding: 6px;
	margin-bottom: 15px;
}

.step-body{
	    font-size: 18px;
    font-weight: 400;
    color: #43484d;
    /*float: left;*/
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    padding-left: 10px;
    text-align: left;
}

.step-icon-box .fa-stack {

    color: #3685d6;
}

.footer {

    text-align: left;
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
}
.footer a {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

@media (min-width: 768px){
	.footer-item {
	    margin: 0 21px 0 0;
	    text-align: left;
	}
}

.footer-item {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
    margin: 20px 10px 0 0;
    text-align: center;
    color: #94a2b3;
}
.footer-social-wrapper{
	float: right;
    margin-top: 0;
    text-align: left;
}
.lockscreen-item {
   
    background: transparent !important;
  
}
.lockscreen-wrapper {
    max-width: 100% !important; 
    margin: 0 auto;
    margin-top: 10%;
}
#flash_wrappers {
    position: absolute;
    right: 0;
    top: 0;
}
.alert-danger {
    background-color: #d84e4e;
    border-color: #ebccd1;
    color: #efeded;
    text-align: center;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
}
#error_explanation h2{
    color: red !important;

}
#error_explanation li{
    color: red !important;

}
.alert-success , .alert-danger{
    border-radius: 0px !important;
}
.user-thumb img{
	
	width: 100%;
}
.user-info .user-login{
	font-size: 19px;
}
.user-info .user-email{
	
}
.widget-button{
	margin-top: 10px;
}
.account-content {
    max-width: 830px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.box-body, .box-header {
    
    padding: 20px !important;
}
.dashboard-wrapper{
	margin: 20px;
}
.project-wrapper{
	margin: 20px;
}
.project-wrapper {
    margin: 20px;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}