<div class="box box-primary">
	<div class="box-body">
		<div class="profile-card">
			<div class="profile-card-head">
				<div class="card-cover"></div>
				<div class="profile-pic">
					<figure>
						<%= image_tag current_user.avatar.url(:medium) %>           
					</figure>
					<div class="profile-user-info">
						<h4>
							<%= link_to "#{current_user.user_name}" , show_profile_path(current_user) %>
						</h4>
						<p>Membre débutant(e)</p>
					</div>
				</div>
			</div>
			<div class="profile-card-info">
				<ul class="profile-info-list">
					<li>
						<div class="profile-connections">
							<a href="/my-network">
								<small>Votes</small>
								<span class="p-connections">0</span>
							</a>        
						</div>
					</li>
					<li>
						<div class="profile-views">
							<a href="/profiles/203-amos-kernel">
								<small>Vue(s)</small>
								<span class="p-views">0</span>
							</a>              
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>

