
<div class="box box-primary">
	<div class="box-body">
		<div class="side-widget">
			<div class="col-xs-5">
				<div class="user-thumb">
					<%= image_tag current_user.avatar.url(:medium) %>
				</div>
			</div>
			<div class="col-xs-7">
				<div class="user-info">
					<div><b>Bienvenue:</b></div>
					<div class="user-login"><%= current_user.login %></div>
					<div><a href="">Membre débutant</a></div>
				</div>
				<div class="widget-button">
					<%= link_to "MON PROFIL", edit_profile_path(current_user), class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="box box-primary">
	<div class="box-header with-border text-center">
		<h5 class="box-title">Offres restantes</h5>
	</div>
	<div class="box-body">
		<div class="remaining-bids text-center">
			10
		</div>
	</div>
</div>


<div class="box box-primary">
	<div class="box-header with-border text-center">
		<h5 class="box-title">Top 5 des freelances</h5>
	</div>
	<div class="box-body">
		<div class="remaining-bids text-center">
			
		</div>
	</div>
</div>

<div class="box box-primary">
	<div class="box-header with-border text-center">
		<h5 class="box-title">Offres à proximité avec vos compétences</h5>
	</div>
	<div class="box-body">
		<div class="remaining-bids text-center">
			
		</div>
	</div>
</div>


<div class="box box-primary">
	<div class="box-header with-border text-center">
		<h5 class="box-title">Freelances  à proximité</h5>
	</div>
	<div class="box-body">
		<div class="remaining-bids text-center">
			
		</div>
	</div>
</div> -->

