<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_language.title %>
</p>

<%= link_to 'Edit', edit_user_language_path(@user_language) %> |
<%= link_to 'Back', user_languages_path %>
