<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Parlons Code</h3>
                <p>Apprenez à programmer par la pratique!</p>
                <ul class="social-icons list-inline">
                    <li><a href="https://parlonscode.com/facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://parlonscode.com/twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://parlonscode.com/youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://parlonscode.com/github" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Liens utiles</h3>
                <ul>
                    <li><a class="go-to-courses" href="https://parlonscode.com?show_courses=1">Formations</a></li>
                    
                    <li><a href="https://parlonscode.com/podcasts">Podcasts</a></li>
                    <li><a href="https://parlonscode.com/books">Livres &amp; Ebooks</a></li>
                    <li><a href="https://parlonscode.com/contact">Support Technique</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Autres</h3>
                <ul>
                    <li><a href="https://parlonscode.com/about">A propos</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#contact-modal">Contact</a></li>
                    <li><a href="https://parlonscode.com/privacy-policy">Politique de confidentialité</a></li>
                    <li><a href="https://parlonscode.com/terms">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>

        <p class="copyright">
            Conçu avec <i class="fa fa-heart" style="color: pink;"></i> et beaucoup de <i class="fa fa-coffee" style="color: #ccc;"></i> sur Jupiter · © Copyright 2017. Tous Droits Réservés.
        </p>
    </div>
</footer>