<footer class="footer ">
	<div class="container">
		<div class="row">

			<div class="col-md-4 clearfix">

				<span class="footer-copyright">
					© 2017 Slatejob. Tous droits réservés.
				</span>

				

			</div>

			<div class="col-md-8">
				<ul>
					<li>
						<a href="/pages/about" class="footer-item">A propos</a>
					</li>
					<li>
						<a href="/pages/terms_of_service" class="footer-item">Conditions d'utilisation</a>
					</li>
					<li>
						<a href="/pages/legal_notice" class="footer-item">Mention légale</a>
					</li>
					<li>
						<a href="/pages/legal_notice#privacy_policy" class="footer-item">Politique de confidentialité</a>
					</li>
				</ul>
				<!--
				<div class="footer-social-wrapper">
					 
	                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
	                <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
	                <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
	                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>

				</div>
				-->
				
			</div>


		</div>
	</div>
</footer>