<footer class="footer ">
	<div class="container">
		<div class="row">

			<div class="col-md-4 clearfix">

				<span class="footer-copyright">
					© 2017 Slatejob. Tous droits réservés.
				</span>

				<div class="footer-social-wrapper">
					<a href="https://twitter.com/honeypotio" target="_blank">
					<i class="fa fa-twitter"></i>
					</a>
					<a href="https://www.facebook.com/Honeypotio/" target="_blank">
					<i class="fa fa-facebook"></i>
					</a>
					<a href="https://www.linkedin.com/company/honeypot" target="_blank">
					<i class="fa fa-linkedin"></i>
					</a>
				</div>

			</div>

			<div class="col-md-8">
				<a href="/pages/about" class="footer-item">About</a>
				<a href="/pages/terms_of_service" class="footer-item">Terms of Service</a>
				<a href="/pages/legal_notice" class="footer-item">Legal Notice</a>
				<a href="/pages/legal_notice#privacy_policy" class="footer-item">Privacy Policy</a>
				<a href="https://jobs.lever.co/honeypot" class="footer-item" target="_blank">Careers</a>
				<a href="/pages/faq" class="footer-item">FAQ</a>
				<a href="http://blog.honeypot.io" class="footer-item" target="_blank">Blog</a>
				
			</div>

		</div>
	</div>
</footer>