<footer class="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-5 clearfix">

				<span class="footer-copyright">
					© 2017 Slatejob. Tous droits réservés. Conçu avec <i class="fa fa-heart" style="color: pink;"></i> et  <i class="fa fa-coffee" style="color: #ccc;"></i> 

				</span>

				

			</div>

			<div class="col-md-7">
				<ul>

					<li>
						<%= link_to "Conditions d'utilisation" , terms_path, class: "footer-item" %>
					</li>
					<li>
						<!-- <a href="/pages/legal_notice" class="footer-item">Mention légale</a> -->
					</li>
					<li>
						<%= link_to "Politique de confidentialité" , privacy_policy_path, class: "footer-item" %>
					</li>
				</ul>
				<!--
				<div class="footer-social-wrapper">
					 
	                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
	                <a class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></a>
	                <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
	                <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>

				</div>
				-->
				
			</div>


		</div>
	</div>
</footer>